table {
    width: 100%;
    border-collapse: collapse;
    font-family: Raleway;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: Raleway;
}

.holdings-performance {
    font-family: Raleway;
    size: 22px;
}

.holdings-header {
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 20px;
}

th {
    margin-top: 25px;
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e8e8e8;
}

.divider {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.add-holding-btn {
    margin-bottom: 25px;
}
