table {
    width: 100%;
    border-collapse: collapse;
    font-family: Raleway;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: Raleway;
}

.holdings-performance {
    font-family: Bitter;
    size: 22px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e8e8e8;
}

/* button {
} */
