.login-error-message {
    color: #D8000C;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
}

input.error {
    border: 1px solid #D8000C;
    background-color: #FFD2D2;
}

input.error:focus {
    border-color: #B80000;
}

.step-indicator {
    text-align: center;
    width: 100%;
    display: block;
    margin: 10px auto;
    font-size: 16px;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
}

.question-container {
    margin-bottom: 10px;
}

.question-label {
    display: block;
    margin-bottom: 5px;
}

.question-input {
    width: 200px;
}