.profile-dropdown {
    position: absolute;
}


.nav-bar {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #3a476a; 
    padding: 0px; 
    height: 40px;
  }
  
  .nav-bar ul {
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0;
    width: 100%; 
    justify-content: space-between; 
    align-items: center;
  }
  
  .nav-bar ul li {
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
  
  .home-button {
    flex-grow: 1;
  }
  
  .profile-button-container {
    margin-left: auto; 
  }
  